# The package melitk.fda is already installed (by default)
--index-url http://pypi.ml.com/simple/ --trusted-host pypi.ml.com

melitk.analytics
melitk.fda
pandas==0.23.4
scikit-learn==0.20.2
numpy==1.16.1
sklearn-pandas==1.8.0
papermill==1.0.1
seaborn
matplotlib
pytest
attrdict
-e .
